/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {


    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    background-color: #DE8971;
    color: #FFE9D6;
    font-family: amatic sc;
}

#sketchBoxBorder {

    border: solid 7em #7B6079;
    border-top: 0px;
    border-bottom: 0px;
    background-color: #7B6079;
    border-radius: 1%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    text-align: center;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



#sketchBox {

    

    width: 45em;
    height: 35em;
    
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1%;
    background-color: #A7D0CD;

}



p {

    justify-self: center;
    align-self: center;
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 60px;
}

#title {

    grid-row: 1;
}

#headerBox {

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 5px;
}

#lockInfo {

    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 15px;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

#lockIcon {

    align-self: flex-start;
    justify-self: start;
    opacity: 0;
}





#buttonWrap {

    grid-column: 1;
    width: 100%;
    align-self: start;
    justify-self: start;
    padding: 25px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    padding-left: 0px;


}

#iconWrap {
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(5, 1fr);
    align-self: flex-end;
    justify-self: flex-end;
    padding-right: 0px;
    grid-gap: 15px;

}

#reset,
#eraser,
.colorIcon {


    width: 64px;

}

.colorIcon:hover,
#reset:hover,
#eraser:hover {

    scale: 1.1;
    transition: all 0.4s;
}

.myLabel {

    font-size: 1.5rem;
    align-self: center;

}

#myRange {

    background-color: red;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #e96868;
    align-self: center;
    width: 200px;

}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    outline-style: solid;
    border-radius: 50%;
    background: #7B6079;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline-style: solid;
    outline-color: rgb(194, 194, 194);
    background: #7B6079;
    cursor: pointer;
}


.cell {

    outline: solid;
    outline-width: 0.01em;
    outline-color: rgb(165, 164, 164);

    height: 100%;
    border-radius: 1%;

}

.buttonScale {

    scale: 1.1;
    border-radius: 50%;


}

#rangeWrap {
    align-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap:5px;
    
}


/*responsive css - bit hacky, should have done mobile first -_- */

@media only screen and (max-width: 960px) {


#sketchBoxBorder {      
   
    border-width: 60px;   

}

#sketchBox {

        width: 40em;
        height:30em;
    
}


.myLabel {

    font-size: 1.4em;

}

#headerBox{

    font-size: 10px;    
}

#title {

    font-size: 50px;
}

#lockInfo {

    font-size:25px;
    
}

#myRange {

   width:140px;
   
}


#buttonWrap {

    grid-template-columns: 1fr 1fr;
}

#iconWrap {

    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
}


#reset, #eraser, #greyScale{
    width:50px;
    height:50px;
}

}

@media only screen and (max-width: 733px) {

    #sketchBox {

        height:25em;
        width:25em;
        justify-self: center;
    }

    #sketchBoxBorder {

        border-width: 20px;
    }

    #title {

        font-size: 45px;
    }
    
    #lockInfo {
    
        font-size:25px;

    }

    #reset, #eraser, #greyScale{
        width:40px;
        height:40px;
    }


#myRange {

    width:100px;
    
 }

 .myLabel {

    font-size: 1.3em;

}

.slider::-webkit-slider-thumb {


    scale:0.8;
}


#rangeLabel {

    display: none;
}
    

.slider::-moz-range-thumb {
scale:0.8;
}
        

}

